@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);

:root {
    --c-prime: #06070b;
    --c-second: #e6fcff;
    --c-accent: peachpuff;
    --mono: 'Fira Code';
    --mono-fancy: 'Fira Code VF';
    --font-prime: var(--mono);
    --font-size: 22px;
}
@supports (font-variation-settings: normal) {
    :root { --font-prime: var(--mono-fancy);}
}

html , body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--c-prime);
    color: var(--c-second);
    font-family: var(--font-prime);
    font-size: var(--font-size);
    font-weight: 200;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 75px;
}

article {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

header , footer nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.75rem;
    color: var(--c-accent);
}
@media (max-width: 667px) {
    header {
        flex-flow: column;
    }
}

header * {/*all the children of the header*/
    padding: 0;
    margin: 0;
    font-weight: 200;
    text-decoration: none;
}

header h2 {
  font-size: 2rem;
}

header h1 , header a{
    font-size: 0.85rem;
}

header a, nav a {
    text-decoration: none;
    color: inherit;
}

nav a , nav span {
  display: block;
  font-size: 3rem;
}

section#content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
}

section.footnotes ol {
    padding: 0
    margin: 0;
}

section.footnotes li {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

section.footnotes div.modal {
    position: relative;
    max-width: 800px;
    margin: auto;
    background: var(--c-second);
    color: var(--c-prime);
    padding: 1rem;
    border-radius: 10px;
    opacity: 0.75;
    box-shadow: var(--c-accent) 0px 2px 30px, inset var(--c-accent) 0px -1px 2px;
}

section.footnotes div.modal a.back {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: var(--c-prime);
    padding-right: 0.33rem;
}

.hidden {
    display: none !important;
}

.faded {
    opacity: 0.33;
}

nav span.hidden {
  display: block;
  width: 3rem; 
}

a.moon {
  color: transparent;
  background-color: var(--c-second);
  background-clip: text;
}

a.quarter.moon {
  text-shadow: 0px 2px 10px var(--c-second);
}

a.half.moon {
  text-shadow: 0px 2px 10px var(--c-second);
}

a.full.moon {
  text-shadow: 0px 2px 15px var(--c-second);
}

a.new {
  color:var(--c-prime);
  background-color: unset;
  background-clip: unset;
  -webkit-text-stroke: 1px var(--c-second);
  text-shadow: 1px 1px 5px var(--c-accent);
}

a.home {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--c-accent);
  text-align: center;
}

a.moon:hover {
  background-color: var(--c-accent);
}

a.home:hover {
  text-decoration: wavy;
  text-shadow: 1px 1px 5px var(--c-accent);
}
